D      //GUI dimensions xo,yo,xl,yl,lw,rw,tw,bw,df,bor_type,bkup
0 0 559 373
4 4 4 4
12 4 0 0 1 1 0 0 0 1 1 0 0.000000 0 100 100 0
//Text Box
t
t     //code
12 13  //x1,y1
20 //Width 
1 1  //Nx,Ny,
//element formats
"BackgroundImage%30s"
470 47  //x2,y2
1 1 1 //Cursor Position
18 9 0 //hide
"configlinaWidget2"
//Button Box
n
n     //code
471 13  //x1,y1
545 47  //x2,y2
2 2  //xgap,ygap
64 //length 
24 //Width 
1 1  //Nx,Ny,
1 //status
"Browse" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
b //keyboard code
2 0.150000 0  //type,fac
0 0 //hide
"configlinaWidget3"
//Check Box
c
c     //code
6 54  //x1,y1
550 87  //x2,y2
8 0  //xgap, ygap
125 25  //item length,Width 
4     //ny 
1 2  // offset, scroll width 
0 0 0 0 0 // type,item hight,bordr,bkgr,hide 
"Allow Root Login" //item
"Add Text Session" //item
"Add Failsafe Session" //item
"Show Date/Time" //item
"configlinaWidget7"
//browser
w
w     //code
43 170  //x1,y1
245 199 //x2,y2
0 //Size 
"Default User" //Prompt
NULL  //  
0 //hide
"configlinaWidget10"
//browser
w
w     //code
25 208  //x1,y1
254 237 //x2,y2
4 //Size 
"Default Session" //Prompt
"KDE" //item
"GNOME" //item
"XFCE" //item
"LXDE" //item
"OpenBox" //item
"Unity" //item
"Cinnamon" //item
"Text Console" //item
"Fail Safe" //item
NULL  //  
0 //hide
"configlinaWidget11"
//Float Slide
f
f     //code
0.000000 1.000000  //min,max
404 206  //x1,y1
50 //length 
NULL //prompt 
504 252 //x2,y2
0 //hide
"configlinaWidget12"
//Float Slide
f
f     //code
0.000000 0.500000  //min,max
399 259  //x1,y1
50 //length 
NULL //prompt 
499 305 //x2,y2
0 //hide
"configlinaWidget13"
//Horiz bar
h
h     //code
379 329  //x1,y1
535 362  //x2,y2
2 0  //xgap,ygap
72 //length 
25 //Width 
2 1  //Nx,Ny,
1 //status
"Cancel" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
 //keyboard code
1 //status
"Save" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
 //keyboard code
4 0.500000 0  //type,fac
0 0 //hide
"configlinaWidget14"
//Message Box
m
m     //code
300 226  //x1,y1
"Transparency"/Message
400 250 //x2,y2
1 0 //justification,hide
"configlinaWidget15"
//Message Box
m
m     //code
304 278  //x1,y1
"Rounding Fac"/Message
404 302 //x2,y2
1 0 //justification,hide
"configlinaWidget16"
//Button Box
n
n     //code
62 245  //x1,y1
227 281  //x2,y2
0 0  //xgap,ygap
154 //length 
26 //Width 
1 1  //Nx,Ny,
1 //status
"Add/Delete Sessions" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-1 //back ground color
 //keyboard code
4 0.500000 0  //type,fac
0 0 //hide
"configlinaWidget18"
//Button Box
n
n     //code
36 90  //x1,y1
525 162  //x2,y2
42 20  //xgap,ygap
48 //length 
48 //Width 
5 1  //Nx,Ny,
1 //status
"Base Color" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-147000000 //back ground color
 //keyboard code
1 //status
"Highlight Color" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-216000216 //back ground color
 //keyboard code
1 //status
"Font Color" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-216216152 //back ground color
 //keyboard code
1 //status
"Button Color" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-181000000 //back ground color
 //keyboard code
1 //status
"Date Color" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-216000000 //back ground color
 //keyboard code
0 0.150000 0  //type,fac
0 0 //hide
"configlinaWidget18"
//browser
w
w     //code
283 170  //x1,y1
537 199 //x2,y2
9 //Size 
"Date Font" //Prompt
"!f1800 !f00 Times-Roman" //item
"!f1801 !f01 Times-Italic" //item
"!f1802 !f02 Times-Bold" //item
"!f1803 !f03 Times-BoldItalic" //item
"!f1804 !f04 Bookman-Light" //item
"!f1805 !f05 Bookman-LightItalic" //item
"!f1806 !f06 Bookman-Demi" //item
"!f1807 !f07 Bookman-DemiItalic" //item
"!f1808 !f08 Helvetica" //item
"!f1809 !f09 Helvetica-Oblique" //item
"!f1810 !f10 Helvetica-Bold" //item
"!f1811 !f11 Helvetica-BoldOblique" //item
"!f1812 !f12 Helvetica-Narrow" //item
"!f1813 !f13 Helvetica-Narrow-Oblique" //item
"!f1814 !f14 Helvetica-Narrow-Bold" //item
"!f1815 !f15 Helvetica-Narrow-BoldOblique" //item
"!f1816 !f16 Courier" //item
"!f1817 !f17 Courier-Oblique" //item
"!f1818 !f18 Courier-Bold" //item
"!f1819 !f19 Courier-BoldOblique" //item
"!f1820 !f20 Charter-Roman" //item
"!f1821 !f21 Charter-Italic" //item
"!f1822 !f22 Charter-Bold" //item
"!f1823 !f23 Charter-BoldItalic" //item
"!f1824 !f24 Palatino-Roman" //item
"!f1825 !f25 Palatino-Italic" //item
"!f1826 !f26 Palatino-Bold" //item
"!f1827 !f27 Palatino-BoldItalic" //item
"!f1828 !f28 NewCenturySchlbk-Roman" //item
"!f1829 !f29 NewCenturySchlbk-Italic" //item
"!f1830 !f30 NewCenturySchlbk-Bold" //item
"!f1831 !f31 NewCenturySchlbk-BoldItalic" //item
"!f1832 !f32 AvantGarde-BookOblique" //item
"!f1833 !f33 AvantGarde-Demi" //item
"!f1834 !f34 ZapfChancery-MediumItalic" //item
NULL  //  
0 //hide
"configlinaWidget13"
//Button Box
n
n     //code
24 309  //x1,y1
170 363  //x2,y2
2 2  //xgap,ygap
140 //length 
44 //Width 
1 1  //Nx,Ny,
1 //status
"!c15!z32Disable Lina" //title 
NULL // XPM 
NULL // XPM 
NULL // XPM 
-120000050 //back ground color
 //keyboard code
2 0.500000 0  //type,fac
0 0 //hide
"configlinaWidget15"
